@{
    ViewBag.Tile = "Thông Tin Sinh Viên";
}
<h2>Thông tin cá nhân</h2>
<p>Họ và tên của tôi là : <strong>@ViewBag.Hoten</strong></p>
<p>khu vực của tôi là : <strong>@ViewBag.KhuVucUuTien</strong></p>